attrs==20.3.0
autobahn==21.2.1
Automat==20.2.0
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
coloredlogs==15.0
constantly==15.1.0
cryptography==3.4.4
Cython==0.29.21
dateparser==1.0.0
dill==0.3.3
humanfriendly==9.1
hyperlink==21.0.0
idna==2.10
incremental==17.5.0
joblib==1.0.1
numpy==1.20.1
pandas==1.2.2
patsy==0.5.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyHamcrest==2.0.2
pyOpenSSL==20.0.1
python-binance==0.7.9
python-dateutil==2.8.1
pytz==2021.1
regex==2020.11.13
requests==2.25.1
requests-file==1.5.1
requests-ftp==0.3.1
scikit-learn==0.24.1
scipy==1.6.0
service-identity==18.1.0
simplejson==3.17.2
six==1.11.0
sklearn==0.0
statsmodels==0.12.2
tenacity==6.3.1
threadpoolctl==2.1.0
Twisted==20.3.0
txaio==20.12.1
tzlocal==2.1
ujson==4.0.2
urllib3==1.26.3
websocket-client==0.57.0
wrapt==1.12.1
zope.interface==5.2.0
