setuptools==36.5.0.post20170921
dill==0.2.7.1
six==1.11.0
pytest==3.6.1
zipline==1.1.1
python_binance==0.6.6
simplejson==3.12.0
typing==3.6.2
numpy==1.13.3
matplotlib==2.2.0
pandas==0.22.0
binance==0.3
scikit_learn==0.20.0
